/*universal tags*/
html{
    overflow-y: auto;
    overflow-x:hidden;
    font-size: 62.5%;
}
background{
    color: #d9d9d9;
}
body{
    margin:0%;

}
/*id tags by area*/
/*top*/
#login{
    font-size: 2.4rem;
    color: #fff;
    font-family: 'GlacialIndifferenceBold';
    font-weight:bolder;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 50%;
    cursor: pointer;
    border: none;
    background-color: #00a86b;
    border-radius: 2rem;
    width: 9rem;
}
#nmtext{
    font-size: 2rem;
    color: #00a86b;
    font-family: 'GlacialIndifferenceBold';
    font-weight:bolder;
    text-align: center;
    margin: 1% 0;
    width: 50%;
}
/*center*/
#title{
    width: 15%;
    margin-left: 38%;
    font-family: "Yellowtail";
    font-size: 18rem;
    font-weight: 100;
    text-align: center;
    color: #fff;
    outline-color: #00a86b;
    outline-width: 30px;
    margin-bottom: 0%;
    cursor: pointer;

}
#title:hover{
    color: #00a86b;
    text-shadow: none;
    transition-duration: 2s;
    transition-delay: .1s;

}
#fin-cap{
    font-size: 5.9rem;
    color: #00a86b;
    font-family: 'GlacialIndifferenceBold';
    font-weight:bolder;
    text-align: center;
    margin-top: 1%;
}
/*search bar*/
#search{
    width: 30%;
    margin-left: 35%;
   /* margin: 13%;*/
}

/* bottom*/
#search-info-text{
    color:#00a86b;
    font-family: 'GlacialIndifferenceBold';
    font-size: 3rem;
    text-align: center;
    margin-bottom: 22rem;
}

/*middle section first*/
#greenbox{
    height: 115vh;
    width: 50%;
    background-color:#00a86b;
    text-align: center;
    font-family: 'GlacialIndifferenceBold';
    color: #d9d9d9;
    overflow-y: auto;
}
#Stock_Crypto{
  font-family: 'GlacialIndifferenceBold';
  font-size: 4vw;
  color:#d9d9d9;
}
#sc_text-top{
  font-size: 1.75vw;
}
#func-list, #customization-list{
  display: inline-block;
  text-align: left;
  font-size: 1.25vw;
  font-style: oblique;
}
#stockline, #piechart{
  height: 55vh;
  width: 35vw;
  display: block;
  margin-left: 25%;
  margin-top: 37.5%;
  border-radius: 15px;
  border: 5px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/*bottom section*/
#Budget-head{
  font-family: 'GlacialIndifferenceBold';
  font-size: 4vw;
  color:#d9d9d9;
}
#bd_text-top{
  font-size: 1.75vw;
}
#budget-list{
  display: inline-block;
  text-align: left;
  font-size: 1.25vw;
  font-style: oblique;
}
/*class tags by area*/
.neon{
    text-shadow:
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}
/*search*/
.gcse-searchbox-only{
    width: 50%;
}
/* The toggle box */
.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

  }

  .toggle input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .round-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
    border-width: 2cm;
  }

  .round-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  /*when input occurs*/
  input:checked + .round-slider {
    background-color: #00a86b;
  }

  input:focus + .round-slider {
    box-shadow: 0 0 1px #00a86b;
  }

  input:checked + .round-slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  /*flex boxes*/
.flexbox-top{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.flexbox-top > div {
    margin: 10px;
    align-items: center;
  }

.flexbox-mid1{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
.flexbox-mid2{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
}
  /*dark mode */
.darkmode{
    background-color: black;
}

.full-row {
  width: 100%;
}

/*dashboard button styling*/
.wrapper {
  display: inline-flex;
  list-style: none;
  padding-right: 40px;
  padding-top: 5vh;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #000000;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .dash:hover,
.wrapper .dash:hover .tooltip,
.wrapper .dash:hover .tooltip::before {
  background:#000000;
  color: #ffffff;
}
