@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    @apply bg-neutral-900;
  }
}

@layer components {
  @keyframes xwise {
    0% { background-position-x: 0 }
    100% { background-position-x: 200% }
  }
  .rainbow {
    @apply bg-gradient-to-r from-sky-500 via-orange-500 to-sky-500;
    animation: xwise 15s linear infinite;
    color: transparent;
    background-clip: text;
    background-position: 0 0;
    background-size: 200% 100%;
  }
  .form {
    @apply grid grid-cols-1 gap-2;
  }
  .form label span {
    @apply block text-sm text-gray-400;
  }
  .form label input {
    @apply rounded w-full;
  }
  
  .card {
    @apply transition rounded m-4 p-4 shadow-md hover:shadow-lg bg-white;
  }

  .badge {
    @apply text-sm rounded-full px-2 py-1;
  }
  
  @media (prefers-color-scheme: dark) {
    .form label input {
      @apply bg-black;
    }
    .card {
      @apply bg-neutral-800 border border-neutral-500 hover:border-neutral-300;
    }
  }  
}
